extends layout

block content
    img(src="Assets/AlleyBurgers.png", alt="Alley Logo" class="Logo")
    div(id="Home")
        P Welcome to Back Alley Burgers. Yeah it's pretty shady but so are our prices! We're not here to impress, we're here to feed you some crazy good food at a crazy low price. From our first day, our mission has been to make a place where people can listen to music and eat without worrying about life. If this sounds interesting to you, then welcome to Back Alley Burgers, your new home.