html
    head
        link(href="style.css" rel='stylesheet')
        link(href="https://fonts.googleapis.com/css?family=Archivo|Permanent+Marker" rel="stylesheet")

    body
        header
            nav(id="NavigationBar")
                ul
                    each item in config.pages
                        a(href=item[1]) 
                            div(class="page_item")
                                li(id=item[1]) #{item[0]}
        h1 #{title}
        block content
        footer