html
    head
        link(href="style.css" rel='stylesheet')
        link(href="https://fonts.googleapis.com/css?family=Archivo|Anton|Caveat+Brush|Gochi+Hand|Coming+Soon" rel="stylesheet")
        header
            nav(id="NavigationBar")
                ul
                    each item in config.pages
                        a(href=item[1]) 
                            div(class="page_item")
                                li(id=item[1]) #{item[0]}

    body    
        block content
        footer