extends layout

block content
    div
        //- p This is the #{title} page
    
    body
        div.food_list
            ul
                each item in config.food[page]
                    div.food_item
                        img(src="Assets/"+item[2], alt=item[3], class="image")
                        .food_title #{item[1]}
                        .desc 
                            p.food_text #{item[0]}