extends layout

block content
    div(id="Home")
        - var DescType = config.PageTexts[descType][1];
        P #{DescType}
    
    body
        div
            ul
                each item in config.food[page]
                    div(class="food_item")
                        img(src="Assets/"+item[2], alt=item[3], class="image")
                        div(class="slider")
                            div(class="text")
                                span #{item[0]}
