html{
    background-image: url("/Assets/AlleysBackgroun4.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
    color : #F2F2F2;
}

@font-face{
     font-family: Grizz; src: url('Assets/Grizzly_Attack .ttf');
    } 

#Home{
    padding: 10px;
    margin: 0px 150px;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.85) 0%,rgba(0,0,0,0) 74%,rgba(0,0,0,0) 100%);
    min-width: 500px;
}

body{
    margin: 0px;
}

.page_item {
    display: inline-block;
    font-size: 18px;
    height: 20px;
    width: 100PX;
    padding: 0px 25px;
    padding-top: 5px;
    text-align: center;
    transition:font-size 1s, width 1s;
}
.page_item:hover{
    font-size: 26px;
    width: 100px;
    font-weight: bold;
}
li {
    list-style: none;
    padding: 5px;
}

a {
    text-decoration: none;
    color: #fff;
}

#content{
    background: #06367D;
}

#NavigationBar{
    text-align: center;
    align-content: center;
    font-family: 'Archivo', sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-height: 50px;
    background-color: #8C0319;
}
h1{
    margin-top: 10px;
    font-family: "Grizz";
    font-size: 75px;
    text-align: center;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.45) 0%,rgba(0,0,0,0) 65%,rgba(0,0,0,0) 100%);
}

p{
    font-family: 'Archivo', sans-serif;
    font-size: 35px;
    text-align: center;
}

ul{
    display:flex;
    align-items:center;
    justify-content:center;
}

/* .food_item{
    border: 1px #8C0319 solid;
    font-size: 18px;
    height: 25%;
    max-width: 200PX;
    min-width: 200PX; 
    height: 400px;
    padding: 0px 25px;
    text-align: center;
    overflow: auto;
} */

.food_item{
    padding: 5px;
    position: relative;
    width: 100%;
}
.image{
    height: 250px;
    width: 250px;
    display: block;
}

.Discription{
   font-size: 5px;
}

 .slider {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  } 
  
  .food_item:hover span {
      width: 250px;
      height: 250px;
      display: block;
  }
  
  span{
      display: none;
      width: 0px;
      height: 0px;
      background-color: #008CBA;
      bottom: 0;
  }

  /* .text {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  } */